@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
*{
	box-sizing: border-box;
}

/* Containers ------------ */

.container{
	width: 100%;
	margin: 0 auto;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
	background: #ffedbc;
	
}
.hv{
	height: 100vh;	
}
.wrap{
	height: 90px;
	background: #118c8b;
	display: flex;
}

/* Photos ------------ */

.gallery{
	position: relative;
}

.wrap-img img:hover {
    box-shadow: 0 0 15px #118c8b;
}

.gallery img{
	
}
.wrap-img{
	position: relative;
	margin: 30px;	
}
.olo {
	display: block;
    position: absolute;
    color: #222;
    bottom: -33px;
    left: 0;
    font-family: 'Nanum Gothic', sans-serif;

}

/* Input_search ------------ */

.input{
	margin: auto;
	width: 300px;
}
#search_words{
	width: 100%;
	border-radius: 5px;
	border: none;
	border: 1px solid grey;
	height: 35px;	
	padding-left: 10px;
}
input::placeholder { 
    color: #adb2b7;
    font-style: italic;
}

/* Lightbox ------------ */

.lb-data .lb-details{
	margin-top: 35px;
    text-align: center;
    width: 100%;
}
.lb-data .lb-close{
	display: none;
}
.lb-data .lb-caption {
	font: 15px 'Pangolin', cursive;
}
.lightbox .lb-image{
	border: none;
}

/*media-qierity ------------ */

@media(min-width: 576px){
	.input{
		width: 400px;
	}
	
}


