*{
	box-sizing: border-box;
}
/* Containers ------------ */

.container{
	width: 90%;
	margin: 0 auto;
	display: flex;	
	flex-wrap: wrap;
	justify-content: center;
}

/* Photos ------------ */

.gallery img{
	margin: 30px;
}

/* Input_search ------------ */

.input{
	margin: 20px auto;
	width: 200px;
}
#search_words{
	width: 100%;
	border-radius: 5px;
	border: none;
	border: 1px solid grey;
	height: 35px;	
	padding-left: 10px;
}
input::placeholder { 
    color: #adb2b7;
    font-style: italic;
}

/* Lightbox ------------ */

.lb-data .lb-details{
	margin-top: 35px;
    text-align: center;
    width: 100%;

}
@media(min-width: 576px){
	.input{
		width: 300px;
	}
}